@use '../../../libs/fe/ui/src/lib/scss/abstract/mixin';
@use '../../../libs/fe/ui/src/lib/scss/abstract/function';

* {
    @include mixin.set-box-model(0, 0);
    box-sizing: border-box;
}

body {
    background-color: function.get-color('primary');
    min-width: 300px;
}
