@use "@english-learning/fe-styles/src/lib/abstract/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$body-color;
    min-width: variables.$body__min-width;
}
