@use '@english-learning/fe-styles/src/lib/abstract/color';
@use '@english-learning/fe-styles/src/lib/abstract/variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: color.$primary;
    min-width: variable.$body-min-width;
}
